@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Play:wght@700&family=Playfair+Display+SC:ital@1&display=swap');

* { 
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: 'Play', sans-serif;
}  

body { 
  background: darkgreen;
  color: white;
}

.header-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.header-main-title-subtitle-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
} 

.header-score-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}  

.main-card-container { 
  margin: 0 auto;
  max-width: 80em;
}


.cards-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  width: 100%;
  gap: 1.5em;
  padding: 2em;
} 

.card-container img:hover { 
  transform: scale(1.1);
}

.error-styles, 
.loading-styles,
.losing-msg-container { 
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
} 

#restart-btn-losing-component { 
  background-color: white;
  color: black;
  border: 2px solid black;
} 

#restart-btn-losing-component:hover { 
  background-color: rgb(35, 168, 35);
  color: white;
}

.restart-btn-flex-container { 
  display: flex;
  justify-content: center;
} 

.card-input-field { 
  border-radius: 20%;
  border: 3px solid black;
  text-align: center;
}

@media (max-width: 500px) { 
  .main-card-container { 
    display: flex;
    max-width: 20em;
    text-align: center;
  }  

  .card-container img { 
    width: 50%;
  } 
  /* .card-container img:hover { 
    width: 60%;
  } */
} 

@media (max-width: 735px) { 
  .main-card-container { 
    text-align: center;
  }  
}