@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Playfair+Display+SC:ital@1&display=swap');
/* import Button from 'react-bootstrap/Button'; */

* { 
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: 'Crete Round', serif;
} 

body { 
  background: rgb(112,109,12);
  background: linear-gradient(90deg, rgba(112,109,12,1) 0%, rgba(65,190,88,1) 32%, rgba(0,255,81,1) 100%);
}

.header-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.header-main-title-subtitle-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
} 

.header-score-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}  

.main-card-container { 
  margin: 0 auto;
  max-width: 80em;
}


.cards-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  width: 100%;
  gap: 1.5em;
  padding: 1em;
} 

.error-styles, 
.loading-styles,
.losing-msg-container { 
  color: rgb(160, 41, 41);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
} 


@media (max-width: 480px) { 
  .main-card-container { 
    display: flex;
    max-width: 20em;
    text-align: center;
  }  

  .card-container img { 
    width: 50%;
  }
} 

@media (max-width: 694px) { 
  .main-card-container { 
    /* max-width: 20em; */
    text-align: center;
  }  
}