@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Playfair+Display+SC:ital@1&display=swap');


* { 
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: 'Crete Round', serif;
} 

body { 
  background: rgb(112,109,12);
  background: linear-gradient(90deg, rgba(112,109,12,1) 0%, rgba(65,190,88,1) 32%, rgba(0,255,81,1) 100%);
}

.header-container { 
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.header-main-title-subtitle-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
} 

.header-score-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
} 

.card-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  width: 100%;
}
